body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #292929;
}
h2{
    text-align: center;
    color: #0b0b0b;
}
.feedback-box{
    width: 350px;
    padding: 20px;
    margin: 80px auto;
    background-color: rgb(132, 182, 225);
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(91, 182, 235);
}
input, textarea, select{
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}
 button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: rgb(228, 224, 224);
            border: none;
            cursor: pointer;
        }